<div fxFlex fxLayout="column" class="sidebar-color">
    <ul fxLayout="column" fxLayoutGap="20px">
        <li>
            
            <button mat-flat-button (click)="goToPage('insertdetails')"> 
                <mat-icon>person</mat-icon> 
                Add Team Member
            </button>
            
        </li>
        <li>
            <button mat-flat-button (click)="goToPage('')">
                <mat-icon>update</mat-icon> 
                Update Team Member Details
            </button>
        </li>
        <li>
            <button mat-flat-button (click)="goToPage('viewdetails')">
                <mat-icon>person_outline</mat-icon> 
                View Members
            </button>
        </li>


    </ul>
</div>