
.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5%;
    height: 100vh;
    overflow-y: scroll;
    text-align: center;
}

.searchbar{
    /*text-align: center;*/
}

.imageviewer{

    img{
        object-fit: contain;
        border-radius: 30px;
        height: 300px;
        width: 300px;
    }
}

mat-grid-tile{
    /*background-color: lightblue;*/
    border-radius: 90px;
    margin: 0;
}

.profile-card{

    text-align: center;
    padding: 20px;
    
    img{
        height: 200px;
        width: 30vw;
        object-fit: cover;
        border-radius: 0px;
    }
    mat-label{
    /*height: 30vh;*/
    }
}

.mat-card{
    max-width: 15vw;
    margin: auto;
}

.mat-card-avatar{
    /*background-image: url(/src/assets/img/kraken-octopus-mascot-esport-logo-design_122297-92.jpg);*/
    background-size: cover;
}

.mat-card-actions{
    display: flex;
}

.mat-card-actions .flex-spacer{
    width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1%;
    /*height: 100%;
    overflow: auto;*/
    text-align: center;
}

.ender
{
    padding-top: 20vh;  
    height: 20vh;
}


table {
    width: 95%;
  
    th{
      text-align: center;
    }

    img{
        width: 70px;
        height: 70px;
    }

    span{        
        color: red($color: #ff0000);
    }
    
  }


button:focus {
    outline: none;
    box-shadow: none;
  }