<form [formGroup]="rform" (ngSubmit)="submit()" enctype="multipart/form-data">

    <div class="wrapper">

        <div class="header">
            <h2>Change Team Member Performance Details</h2>
            <mat-label>{{datestring}}</mat-label>
        </div>

        <div class="texts">
            <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
                <mat-label>Work Number</mat-label>
                <input matInput required formControlName="worknumber">
                <mat-hint align="end">Assigned by Peregrine</mat-hint>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
                <mat-label>Work Ethic</mat-label>
                <select matNativeControl required formControlName="workethic">
                    <option value={{number.number}} *ngFor="let number of numbers" >{{number.number}}</option>
                </select>            
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
                <mat-label>Puntuality</mat-label>
                <select matNativeControl required formControlName="puntuality">
                    <option value={{number.number}} *ngFor="let number of numbers" >{{number.number}}</option>
                </select>            
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
                <mat-label>Team Work</mat-label>
                <select matNativeControl required formControlName="teamwork">
                    <option value={{number.number}} *ngFor="let number of numbers" >{{number.number}}</option>
                </select>            
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;" >
                <mat-label>Initiative</mat-label>
                <select matNativeControl required formControlName="initiative" >
                <option value={{number.number}} *ngFor="let number of numbers" >{{number.number}}</option>
                </select>            
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
                <mat-label>Positivity</mat-label>
                <select matNativeControl required formControlName="positivity">
                    <option value={{number.number}} *ngFor="let number of numbers" >{{number.number}}</option>
                </select>            
            </mat-form-field>
        </div>

        <div class="Comments">
            <mat-form-field appearance="outline" floatLabel="auto" style="width: 70%;">
                <mat-label>Comments</mat-label>
                <textarea matInput rows="5" cols="2" formControlName="comments"></textarea>
                <mat-hint align="end">Insert Additional details about this Team Member</mat-hint>
            </mat-form-field>
        </div>

        <div class="wrapper2"> 

            <div>
                <button mat-raised-button class="submitbutton" type="submit">Update</button>
            </div>
        </div>

    </div>

</form>