<div class="wrapper">
    
    <div class="searchbar">
    
        <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
            <mat-label>
                Search 
            </mat-label>
            <input matInput value="" [matAutocomplete]="auto" [formControl]="myControl">

            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayfn">
                <mat-option *ngFor="let item of filteredWorkers | async" [value]="item">
                    {{item.name}}
                </mat-option>
            </mat-autocomplete>


            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    
    </div>

    <div class="grid">

        <mat-card *ngFor="let item of filteredWorkers | async">
            <mat-card-header >
                <div mat-card-avatar></div>
                <mat-card-title>{{item.name}}</mat-card-title>
                <mat-card-subtitle>{{item.role}}</mat-card-subtitle>
                <mat-card-actions>
                    <div class="flex-spacer"></div>
                    <button mat-button color="primary" [matMenuTriggerFor]="menu" ><mat-icon>menu</mat-icon></button>
                    
                    
                </mat-card-actions>
            </mat-card-header>

            <input hidden type="text" #textInput value="{{item.name}}">

            <img mat-card-image src="https://avatarfiles.alphacoders.com/865/86518.png">

            <!--<mat-card-content>
                <p>Ricardo is the best , the millinonaire , the billionaire, and the the most intelligent person in the world</p>
            </mat-card-content>-->

            <mat-menu #menu="matMenu" yPosition="below">
                <button mat-menu-item>View Performance</button>
                <button mat-menu-item [matMenuTriggerFor]="chooseupdates">Change Details</button>
            </mat-menu>

            <mat-menu #chooseupdates="matMenu">
                <button mat-menu-item (click)="goToPage( 'changememberinformation' , textInput.value )">Member Information</button>
                <button mat-menu-item (click)="goToPage( 'changedependancies' , textInput.value )">Dependancies</button>
                <button mat-menu-item (click)="goToPage( 'changedisciplinary' , textInput.value )">Disciplinary</button>
                <button mat-menu-item (click)="goToPage( 'changeexternalsituations' , textInput.value )">External Situations</button>
                <button mat-menu-item (click)="goToPage( 'changeperformance' , textInput.value )">Performance</button>
                <button mat-menu-item (click)="goToPage( 'changeworkleave' , textInput.value )">Work Leave</button>
                <button mat-menu-item (click)="goToPage( 'changetraining' , textInput.value )">Training</button>
            </mat-menu>

        </mat-card>

        

    </div>
    
</div>

