
.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    /*grid-row-gap: 5%;
    height: 100%;*/
    overflow: auto;
    text-align: center;
}

.searchbar{
    /*text-align: center;*/
}

mat-grid-tile{
    /*background-color: lightblue;*/
    border-radius: 90px;
    margin: 0;
}

.profile-card{

    text-align: center;
    padding: 20px;
    
    img{
        height: 200px;
        width: 30vw;
        object-fit: cover;
        border-radius: 0px;
    }
    mat-label{
    /*height: 30vh;*/
    }
}




