<div class="wrapper">
    <div class="searchbar">
    
        <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
            <mat-label>
                Search 
            </mat-label>
            <input matInput value="">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    
    </div>
    <div>
        <mat-grid-list cols="3">

            <mat-grid-tile *ngFor="let worker of workers">
            
                <div class="profile-card">
                    <img src="https://image.shutterstock.com/image-vector/kraken-octopus-mascot-esport-logo-600w-1568553793.jpg" alt="">
                    <br>
                    <mat-label>
                        {{worker.name}} 
                    </mat-label>
                </div>
        <!--         
            <mat-card>

                <mat-card-header>
                    <div mat-card-avatar></div>
                    <mat-card-title>Name of Worker</mat-card-title>
                </mat-card-header>    
                <img mat-card-avatar src="https://image.shutterstock.com/image-vector/kraken-octopus-mascot-esport-logo-600w-1568553793.jpg" >
                <mat-card-content>
                    <p>Hello paragraph</p>
                </mat-card-content>
                <mat-card-actions></mat-card-actions>

            </mat-card>
        -->
            </mat-grid-tile>

        </mat-grid-list>
    </div>
</div>

