<form [formGroup]="rform" (ngSubmit)="submit()" enctype="multipart/form-data">

    <div class="wrapper">

        <div class="header">
            <h2>Team Member Details</h2>
        </div>

        <div class="profile">
            <img class="profileImg" accept='image/*' [src]="imgURL" id="profile" *ngIf="imgURL">            
        </div>
            
        <div class="uploadImgbtn">
            <button mat-raised-button type="button" (click)="ImgInput.click()">Upload image</button>
            <input hidden type="file" (change)="onImgSelected(ImgInput.files)" #ImgInput name="imgfile">
        </div>
        
        <div class="texts">
            <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
                <mat-label>Work Number</mat-label>
                <input matInput required formControlName="worknumber">
                <mat-hint align="end">Assigned by Peregrine</mat-hint>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
                <mat-label>Skills</mat-label>
                <input matInput required formControlName="skills">
            </mat-form-field>
        </div>


        <div>
            <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
                <mat-label>Name</mat-label>
                <input matInput required formControlName="name">
            </mat-form-field>
        </div>


        <div>
            <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
                <mat-label>Position</mat-label>
                <input matInput required formControlName="position">
            </mat-form-field>
        </div>


        <div>
            <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
                <mat-label>Surname</mat-label>
                <input matInput required formControlName="surname">
            </mat-form-field>
        </div>


        <div>
            <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
                <mat-label>Nationality</mat-label>
                <!--<input matInput required formControlName="nationality">-->
                <select matNativeControl required formControlName="nationality">
                    <option value=""></option>
                    <option value="{{nation.nation}}" *ngFor="let nation of nationalities" >{{nation.nation}}</option>
                </select>  
            </mat-form-field>
        </div>


        <div>
            <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
                <mat-label>Qualification</mat-label>
                <input matInput required formControlName="qualification">
            </mat-form-field>
        </div>


        <div>
            <mat-form-field appearance="outline" floatLabel="auto" style="width: 40%;">
                <mat-label>Gender</mat-label>
                <select matNativeControl required formControlName="gender">
                <option value=""></option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="Other">Other</option>
                </select>
            </mat-form-field>
        </div>


        <div>
            <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
                <mat-label>Departments</mat-label>
                <select matNativeControl required formControlName="department">
                <option value=""></option>
                <option value="IT">IT</option>
                <option value="Bakery">Bakery</option>
                <option value="Finance">Finance</option>
                </select>            
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
                <mat-label>House</mat-label>
                <select matNativeControl required formControlName="house">
                <option value=""></option>
                <option value="House1">House 1</option>
                <option value="House2">House 2</option>
                </select>
            </mat-form-field>
        </div>

        <div class="Comments"> 
            <!--
            <input type="file" (change)="onFileSelected($event)">
            -->

            <button type="button" mat-raised-button (click)="fileInput.click()" class="uploadbutton">Upload CV</button>
            <input hidden type="file" (change)="onFileSelected($event)" #fileInput name="file">

            <br/><br/>

            <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
                <mat-label>Curriculum Vitae Documents</mat-label>
                <input matInput type="text" id="filename" disabled>
            </mat-form-field>
        </div>


        <div class="Comments">
            <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 70%;">
                <mat-label>Address</mat-label>
                <textarea matInput rows="5" cols="2" required formControlName="address"></textarea>
            </mat-form-field>
        </div>

    <!--
        <div>
            <button mat-raised-button disabled>Upload CV</button>
        </div>
    -->

        

        <div class="Comments">
            <mat-form-field appearance="outline" floatLabel="auto" style="width: 70%;">
                <mat-label>Comments</mat-label>
                <textarea matInput rows="5" cols="2" formControlName="comments"></textarea>
                <mat-hint align="end">Insert Additional details about this Team Member</mat-hint>
            </mat-form-field>
        </div>

        <div class="wrapper2"> 
            <div>
                <button mat-raised-button class="submitbutton" type="submit">Submit</button>
            </div>
        </div>
        
    </div>


</form>
