<div class="wrapper">

    <div class="header">
        <h2>Team Member Details</h2>
    </div>

    <div class="texts">
        <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
            <mat-label>Work Number</mat-label>
            <input matInput value="" required>
            <mat-hint align="end">Assigned by Peregrine</mat-hint>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
            <mat-label>Skills</mat-label>
            <input matInput value="" required>
        </mat-form-field>
    </div>


    <div>
        <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
            <mat-label>Name</mat-label>
            <input matInput value="" required>
        </mat-form-field>
    </div>


    <div>
        <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
            <mat-label>Position</mat-label>
            <input matInput value="" required>
        </mat-form-field>
    </div>


    <div>
        <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
            <mat-label>Surname</mat-label>
            <input matInput value="" required>
        </mat-form-field>
    </div>


    <div>
        <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
            <mat-label>Nationality</mat-label>
            <input matInput value="" required>
        </mat-form-field>
    </div>


    <div>
        <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
            <mat-label>Qualification</mat-label>
            <input matInput value="" required>
        </mat-form-field>
    </div>


    <div>
        <mat-form-field appearance="outline" floatLabel="auto" style="width: 40%;">
            <mat-label>Gender</mat-label>
            <select matNativeControl required>
              <option value=""></option>
              <option value="Female">Female</option>
              <option value="Male">Male</option>
              <option value="Other">Other</option>
            </select>
          </mat-form-field>
    </div>


    <div>
        <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
            <mat-label>Departments</mat-label>
            <select matNativeControl required>
              <option value=""></option>
              <option value="IT">IT</option>
              <option value="Finance">Finance</option>
            </select>            
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 40%;">
            <mat-label>House</mat-label>
            <select matNativeControl required>
              <option value=""></option>
              <option value="House 1">House 1</option>
              <option value="House 2">House 2</option>
            </select>
        </mat-form-field>
    </div>


    <div class="Comments">
        <mat-form-field class="example-full-width" appearance="outline" floatLabel="auto" style="width: 70%;">
            <mat-label>Address</mat-label>
            <textarea matInput rows="5" cols="2" required></textarea>
        </mat-form-field>
    </div>

<!--
    <div>
        <button mat-raised-button disabled>Upload CV</button>
    </div>
-->

    

    <div class="Comments">
        <mat-form-field appearance="outline" floatLabel="auto" style="width: 70%;">
            <mat-label>Comments</mat-label>
            <textarea matInput rows="5" cols="2"></textarea>
            <mat-hint align="end">Insert Additional details about this Team Member</mat-hint>
        </mat-form-field>
    </div>

    <div class="wrapper2">
        <div>
            <button mat-raised-button disabled>Upload CV</button>
        </div>
    
        <div>
            <button mat-raised-button class="uploadbutton">Upload CV</button>
        </div>
    
        <div>
            <button mat-raised-button class="submitbutton">Submit</button>
        </div>
    </div>

    <div style="height:50px;">
    </div>
    
</div>



